<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body {font-family:monospace;background-color:#CCCCCC;}
      .red {color:red;}
      .yellow {color:yellow;}
      .green {color:green;}
      table, th, td { border: 1px solid black;}
    </style>
    <title>Chore Server</title>

    <meta http-equiv="refresh" content="60">
  </head>

  <body>
    <h1>Chores</h1>
    <p>Last updated <%= Time.now %></p>
    <table>
      <tr>
        <th>Job</th>
        <th>Status</th>
        <th>Time</th>
        <th>Notes</th>
      </tr>
      <% Chore::Store.iterate_statuses do |status| %>
        <tr class="<%= status[:state] %>">
          <td><%= status[:job] %></td>
          <td><%= status[:status] %>ed</td>
          <td><%= Time.at(status[:start_time]) %></td>
          <td>
            <% if !status[:notes].empty? %>
	    <pre>
              <%= status[:notes].join(', ') %>
            </pre>
            <% else %>
              &nbsp; 
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
